

h1 {
	text-align: center;
  margin: auto 0;
  padding-top: 1rem;
  font: normal 64px/46px Flood Std;
  background-color: #34495E;
  color: white;
}

.container {
	margin: auto 0;
  text-align: center;
  font: normal 18px/22px Helvetica; 

}



.list-container {
  text-align: left;
  margin: 5%;
  font: oblique 24px/30px Helvetica;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.delete-btn {
  font: bold 18px/14px Helvetica;
  width: 100px;
  height: 20px;
  background-color: #FF5733;
  position: absolute;
  right: 100px;
  border-radius: 30px;
  color: #17202A;
}


.checkbox-class {
  margin-right: 15px;
}

.list-items {
  list-style-type: none;
}
